# Auto detect text files and perform LF normalization
* text=auto
*.unity filter=lfs diff=lfs merge=lfs -text
*.cinemachine filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.fbxs filter=lfs diff=lfs merge=lfs -text
*.prefabs filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
